<div>
  <app-menu></app-menu>
  <div class="sobreEmpresa">
    <h1>O que somos</h1>
    <p>
      Somos uma empresa dedicada a transformar os sonhos de nossos clientes em
      realidade, combinando tecnologia de ponta com análises estatísticas
      avançadas. Oferecemos soluções acessíveis e transparentes, projetadas
      especialmente para pequenos e médios influenciadores e empresas, para
      impulsionar seu sucesso e crescimento.
    </p>
    <h2>Nossa Missão</h2>
    <p>
      Empoderar pequenos e médios influenciadores e empresas com insights de
      dados valiosos, proporcionando ferramentas acessíveis que potencializem
      seu desempenho e engajamento nas redes sociais.
    </p>
    <h2>Nossa visão</h2>
    <p>
      Ser reconhecida globalmente como uma empresa inovadora no setor de
      tecnologia, dedicada a capacitar pequenos e médios influenciadores e
      empresas, oferecendo soluções acessíveis e eficientes que impulsionem o
      crescimento e a conectividade para todos.
    </p>
    <h2>Nossa Valores</h2>
    <p>
      Nosso compromisso é entregar excelência em cada interação com nossos
      clientes, proporcionando experiências únicas e transformadoras.
      Valorizamos a integração perfeita entre tecnologia e inteligência
      artificial (IA) para oferecer soluções inovadoras e impactantes.
    </p>
  </div>
  <div class="nossaEquipe">
    <h1>Nossa Equipe</h1>
    <div class="imgs">
      <div class="imgVictor">
        <img
          src="../../../assets/fotoVictor.jpeg"
          alt="Foto do login"
          width="100px"
        />
        <h2>Victor Oliveira</h2>
        <p>Co-Founder & Co-CEO</p>
      </div>
      <div class="imgGuilherme">
        <img
          src="../../../assets/foto Gui.png"
          alt="Foto do login"
          width="100px"
        />
        <h2>Guilherme Camargo</h2>
        <p>Co-Founder & Co-CEO</p>
      </div>
    </div>
  </div>
</div>
